<div class="main-bar">
  <div class="header">
    <h2>O mnie</h2>
    <nav class="navigation-bar">
      <a>O mnie</a>
      <a>CV</a>
      <a href="https://github.com/AdaskoKwi">Portfolio</a>
      <a>Kontakt</a>
    </nav>
  </div>
  <div class="information-paragraph">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis nisi sed viverra molestie. Curabitur sagittis nec erat quis rhoncus. Ut sed nibh sapien. Curabitur sagittis luctus tortor vel suscipit. Aenean eget magna at eros mattis accumsan eget et leo. Proin tempor, diam vel fringilla ultrices, massa purus porta sapien, et maximus felis dui id justo. In scelerisque eget ante eu euismod. Vestibulum a mi sapien. Suspendisse potenti. Cras vitae dolor nisi. Nunc egestas eu libero at rhoncus. </p>
    <p>Phasellus vel elementum turpis, nec semper libero. Nunc sollicitudin lobortis enim eget egestas. Pellentesque vel condimentum mauris, eu vehicula magna. Fusce faucibus erat et massa accumsan, non mattis ex blandit. Sed finibus tortor et purus finibus rutrum. Vivamus eu ex ex. Integer elementum venenatis suscipit. Vestibulum tempus leo eget molestie dignissim. Pellentesque vehicula mauris lorem. </p>
  </div>
  <div class="activities-box">
    <h2>Czym się zajmuję</h2>
    <div class="activities">
      <app-contact-info></app-contact-info>
      <app-contact-info></app-contact-info>
      <app-contact-info></app-contact-info>
      <app-contact-info></app-contact-info>
      <app-contact-info></app-contact-info>
      <app-contact-info></app-contact-info>
    </div>
  </div>
</div>
