<div class="side-bar">
  <div class="name-and-photo">
    <div class="photo">

    </div>
    <h2>Adam Nowak</h2>
    <span>Student Informatyki</span>
  </div>
  <div class="contact-and-info">
    <app-contact-info>
      <img class="" ngSrc="assets/images/mail-outline.svg" alt="mailIcon" height="50" width="50">
      <span class="contact-info-label">Email</span>
      <span class="contact-info-text">adamnowakhomm&#64;gmail.com</span>
    </app-contact-info>
    <app-contact-info>
      <span class="contact-info-label">Numer telefonu</span>
      <span class="contact-info-text">532 136 179</span>
    </app-contact-info>
    <app-contact-info>
      <span class="contact-info-label">Miasto zamieszkania</span>
      <span class="contact-info-text">Lublin</span>
    </app-contact-info>
  </div>
</div>
